// Specific CSS for your home-page
* {
  margin: 0;
  overscroll-behavior: none;
}

.min-height {
  min-height: calc(100vh - 161.47px);
}

#container {
  width: 100%;
}

#banner {
  background-size: cover;
  margin: 0;
  position: relative;
}

.carousel-inner {
  height: 650px;
  img {
    // background-position: center bottom;
  }
}

.carousel-image {
  object-fit: none;
  object-position: bottom;
}

.heading {
  position: relative;
  text-align: center;
  top: 150px;
}

#main {
  font-size: 90px;
  line-height: 90px;
  color: white;
  margin: 0;
  font-family: 'Times New Roman';
  // text-shadow: 2px 2px 3px black;
  position: absolute;
  text-align: center;
  position: relative;
}

#second {
  font-size: 35px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  text-align: center;
  position: relative;
  color: white;
  margin: 0 0 30px 0;
  font-family: 'Roboto';
}

#third {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  font-family: 'Roboto';
  font-style: italic;
  color: #fff;
}

.location-search-form {
  margin-bottom: 20px;
}

.location-search-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #1b4332;
  transition: 0.2s;
  border: none;
  box-shadow: none;
}

.location-search-button:hover {
  cursor: pointer;
  background-color: #2a684e;
}

.location-search-input {
  border-radius: 4px;
  padding: 8px 19px;
  border: none;
  margin-right: 10px;
  background-color: #ffffffbf;
}

.location-search-input:focus {
  outline: none;
}

.featured {
  padding: 0 30px;
  text-align: left;
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.card img {
  width: 100%
}

 .card-text {
  font-family: 'Noto Serif Display', serif;
  padding-bottom: 10px;
  padding-top: 15px;
 }

 .featured-head {
   margin-bottom: 5px;
   line-height: 45px;
   padding-top: 20px;
   font-size: 45px !important;
   font-family: 'Noto Serif Display', serif;
 }

 .featured-subhead {
  font-size: 20px !important;
  font-family: 'Roboto';
  font-style: italic;
 }

 .featured-list {
  width: 100%;
  justify-content: flex-start;
  display: flex;

}

.venue-card {
  width: 23%;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
 }

 .venue-card:hover {
  cursor: pointer;
 }

 .venue-card:not(:last-child) {
  margin-right: 20px;
 }

 .venue-title {
  font-family: 'Times New Roman';
  font-size: 15px;
  margin-bottom: 5px;
 }

 .venue-subinfo {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 300;
  margin-bottom: 5px;
  color: rgb(100, 100, 100);
 }

 .search-bar-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 }


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #container {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
